<h1>All users</h1>

<div id="users">
	<%= render 'users' %>
</div>

<div id="users_chart" style="width: 560px; height: 300px;"></div> 
<script type="text/javascript" charset="utf-8">
$(function () {  
 new Highcharts.Chart({  
   chart: { renderTo: 'users_chart' },  
   title: { text: 'Users by Age' },  
   xAxis: { 
		 type: 'integer',
		 title: { text: 'Generation' }
	 },  
   yAxis: {  
		 type: 'integer',
     title: { text: 'People' },
		 min: 0,
		 tickInterval: 5
	 },  
	 tooltip: {  
	   formatter: function () {  
	     return this.x + '(Generation)' + ': ' 
	       + this.y  + '(People)';  
	   }  
	 },      
	 series: [  
	 {  
	   name: "Users Chart",  
	   pointInterval: 10,  
	   pointStart: 10,  
	   data: <%= users_chart_series() %>
	 }]  
	});  
});
</script>